<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/collect"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-img src="/assets/praxtour_logo.png" width="128" height="40"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" >
    <ion-item>
      <ion-label><strong>Select your device</strong></ion-label>
    </ion-item>
    <ion-item>
      <ion-tab-button (click)="selectDeviceType('cruise')">
        <ion-img src="/assets/deviceselection/cruisebike.png"></ion-img>
      </ion-tab-button>
    </ion-item>
    <ion-item>
      <ion-tab-button (click)="selectDeviceType('course')">
        <ion-img src="/assets/deviceselection/coursebike.png"></ion-img>
      </ion-tab-button>
    </ion-item>
    <ion-item>
      <ion-tab-button (click)="selectDeviceType('ctr')" >
        <ion-img src="/assets/deviceselection/ctrbike.png"></ion-img>
      </ion-tab-button>
    </ion-item>
  </ion-list>
</ion-content>
