<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-img src="/assets/praxtour_logo.png" width="128" height="40"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center">
    <ion-list>

      <ion-item style="background-color:#4e8ef7;text-align: center;" no-lines>
        <ion-label><strong>Results</strong></ion-label>
        <ion-textarea  auto-grow="true"
                       disabled
                       readonly
                       [(ngModel)]="activityStatus"
                       color="{{statusColor}}"></ion-textarea>
      </ion-item>

      <ion-item style="background-color:#4e8ef7;text-align: center;" no-lines>
        <table width="100%" align-items-center="true">
          <tr>
            <td><strong>Betuwe</strong></td>
            <td>10-04-2020</td>
            <td>
              <ion-tab-button tab="result"><ion-button color="medium" round >Show results</ion-button></ion-tab-button>
            </td>
            <td>
              <ion-tab-button><ion-button color="medium" round (click)="upload()"><ion-icon name="share-outline" ></ion-icon></ion-button></ion-tab-button>
            </td>
          </tr>
        </table>
      </ion-item>
    </ion-list>

  </div>
</ion-content>
