<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/deviceselection"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-img src="/assets/praxtour_logo.png" width="128" height="40"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-card color="medium" shape="round" size="large" >
      <ion-card-content style="padding-bottom: 5px;">
        <table>
          <tr>
            <td style="font-size: 14px;">Open your wifi network and connect your Praxtour Bike</td>
            <td><ion-icon slot="end" name="wifi" size="large"></ion-icon></td>
          </tr>
        </table>
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-item lines="none">
    <ion-card class="ion-align-items-center">
      <ion-card-content class="ion-no-padding">
        <ion-input placeholder="Insert your bike's code here"></ion-input>
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-item lines="none" class="ion-no-padding">
    <ion-img src="{{imgSrc}}" ></ion-img>
  </ion-item>
</ion-content>
