<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="collect">
      <ion-icon name="wifi"></ion-icon>
      <ion-label>Connect</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="results">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Results</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="person"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
