@font-face {
	font-family: 'Now Black';
	src: url('assets/fonts/now.black.otf');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Now Bold';
	src: url('assets/fonts/now.bold.otf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Now Light';
	src: url('assets/fonts/now.light.otf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Now Thin';
	src: url('assets/fonts/now.thin.otf');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Now Medium';
	src: url('assets/fonts/now.medium.otf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Now Regular';
	src: url('assets/fonts/now.regular.otf');
	font-weight: 400;
	font-style: normal;
}