<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-img src="/assets/praxtour_logo.png" width="128" height="40"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <div align="center">

        <ion-card-content>
          <table width="100%">
            <tr>
              <td colspan="2"><strong>Connect your bike</strong></td>
            </tr>
            <tr >
              <td width="50%">
                <table width="100%">
                  <tr>
                    <td>
                      <ion-tab-button tab="deviceselection">
                        <ion-img src="/assets/connect/select_device_button.png" class="connect-screen-button" ></ion-img>
                      </ion-tab-button>
                    </td>
                  </tr>
                  <tr><td>&nbsp;</td></tr>
                  <tr>
                    <td>
                      <ion-tab-button tab="getroute">
                        <ion-img src="/assets/connect/download_ride_data.png" class="connect-screen-button"></ion-img>
                      </ion-tab-button>
                    </td>
                  </tr>
                </table>
              </td>
              <td width="50%">
                <ion-img src="/assets/connect/ctr.png" ></ion-img>
              </td>
            </tr>
          </table>
<!--          <ion-item>-->
<!--            <ion-tab-button tab="deviceselection">-->
<!--              <ion-button shape="round" color="warning" >Select Praxtour Device &nbsp;<ion-icon name="help-circle"></ion-icon></ion-button>-->
<!--            </ion-tab-button>-->
<!--          </ion-item>-->
<!--          <ion-item>-->
<!--            <ion-tab-button>-->
<!--              <ion-button shape="round" color="secondary" (click)="getRoute()" >Collect your ride</ion-button>-->
<!--            </ion-tab-button>-->
<!--          </ion-item>-->
        </ion-card-content>

      </div>
    </ion-card>
</ion-content>
