ion-card-header {
  max-width: 80%;
  align: center;
  align-items: center;
}
ion-card-content {
  max-width: 100%;
  align: center;
  align-items: center;
}

.connect-screen-button {
  max-width: 75%;
  max-height: 75%;
  align: center;
  overflow: hidden;
}
