<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/results"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-img src="/assets/praxtour_logo.png" width="128" height="40"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-img src="/assets/routeinfo/route-12-betuwe.jpg" width="128" height="40"></ion-img>
  </ion-item>

  <ion-item>
    <ion-label position="fixed" class="praxtour-header">Route</ion-label>
    <ion-input type="text" name="route" [(ngModel)]="routeProfile"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed" class="praxtour-header">Date</ion-label>
    <ion-input type="text" name="date" [(ngModel)]="routeDate"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed" class="praxtour-header">Level</ion-label>
    <ion-input type="text" name="level" [(ngModel)]="routeLevel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed" class="praxtour-header">Time</ion-label>
    <ion-input type="text" name="time" [(ngModel)]="routeTime"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed" class="praxtour-header">Distance</ion-label>
    <ion-input type="text" name="distance" [(ngModel)]="routeDistance"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed" class="praxtour-header">Speed</ion-label>
    <ion-input type="text" name="speed" [(ngModel)]="routeSpeed"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed" class="praxtour-header">Calories</ion-label>
    <ion-input type="text" name="calories" [(ngModel)]="routeCalories"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed" class="praxtour-header">RPM</ion-label>
    <ion-input type="text" name="rpm" [(ngModel)]="routeRpm"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed" class="praxtour-header">Heartrate</ion-label>
    <ion-input type="text" name="heartrate" [(ngModel)]="routeHeartrate"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed" class="praxtour-header">Watt</ion-label>
    <ion-input type="text" name="watts" [(ngModel)]="routeWatts"></ion-input>
  </ion-item>

  <ion-item button="true" (click)="upload()">
    <ion-img src="/assets/result/shareyourride.png"></ion-img>
  </ion-item>

</ion-content>
