
ion-label {
	font-family: 'Now Bold';
  font-size: 14px !important;
  font-weight: bolder;
  padding: 10px;
}

.sc-ion-label-ios-h {
	font-family: 'Now Bold';
  font-size: 14px !important;
  font-weight: bolder;
  padding: 10px;
}

.sc-ion-label-md-h {
	font-family: 'Now Bold';
  font-size: 14px !important;
  font-weight: bolder;
  padding: 10px;
}


ion-tab-button {
	max-width: 100%;
}

ion-item {
	padding: 0px !important;
	--padding-start: 0px;
}