<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-img src="/assets/praxtour_logo.png" width="128" height="40"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Default Segment -->
  <ion-list lines="none">
    <ion-item>
      <ion-label>Connect your bike</ion-label>
    </ion-item>
    <ion-item>
      <ion-tab-button tab="collect">
        <ion-img src="/assets/buttons/connectyourride.png" width="128" height="57"></ion-img>
      </ion-tab-button>
    </ion-item>
    <ion-item>
      <ion-label>Previous rides</ion-label>
    </ion-item>
    <ion-item>
      <ion-tab-button tab="results">
        <ion-img src="/assets/buttons/previousrides.png" width="128" height="57"></ion-img>
      </ion-tab-button>
    </ion-item>
    <ion-item>
      <ion-label>Share your ride</ion-label>
    </ion-item>
    <ion-item>
      <ion-tab-button tab="settings">
        <ion-img src="/assets/buttons/shareyourride.png" width="128" height="57"></ion-img>
      </ion-tab-button>
    </ion-item>
  </ion-list>
</ion-content>
