<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-img src="/assets/praxtour_logo.png" width="128" height="40"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header color="medium">
      <ion-label>Strava settings</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Authentication key:&nbsp;</ion-label>
      <ion-input style="background-color:#fff;" type="text" name="authKey" [(ngModel)]="stravaAuthkey" (change)="storeToken()" (keypress)="storeToken()" (paste)="storeToken()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button color="medium" round (click)="authorize()">Authorize with Strava</ion-button>
    </ion-item>

  </ion-list>
</ion-content>
